@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+CU+Guides&family=Playwrite+GB+J+Guides:ital@0;1&family=Playwrite+NZ+Basic:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    width: 100%;
    min-height: 300px;
    border: 1px solid #000;
}
.top{
    width: 100%;
    height: 30px;
    background:  orangered;
    justify-items: center;
    align-content: center;
}
.header-menu{
    width: 100%;
    min-height:80px ;
    display: flex;
    padding: 0px 100px 0px 100px;

}
.logo{
    width: 30%;
    align-content: center;
}
.logo h1{
  font-family: "Playwrite NZ Basic", cursive;
}
.menu{
    width:70%;
    justify-items: center;
    align-content: center;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.menu ul li{
    flex-wrap: wrap;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
      font-family: "Raleway", sans-serif;

}
.menu ul button{
          font-family: "Raleway", sans-serif;
    width: 80px;
    background-color: orangered;
    padding: 5px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
}
.menu ul button:hover{
    font-family: "Raleway", sans-serif;
     background-color: rgba(255, 68, 0, 0.712);
     color: #000;
}
.slider{
    display: flex;
    width: 100%;
    height: 700px;
    /* position: relative; */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("./img/slider.jpeg");
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}
/* .slider img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   position: relative;
} */
/* .slider::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
} */
.slider-des{
    padding: 10px;
    width: 50%;
    /* position: absolute; */
    color: aliceblue;
}
.slider-des p{
    margin-bottom: 10px;
}
.slider-des h2{
    margin-bottom: 10px;
    font-size: 40px;
          font-family: "Raleway", sans-serif;

}

.slider-des button{
    width: 100px;
    height: 30px;
    color: #ececec;
}
.col-btn1{
    border: 1px solid #ececec;
  background-color: transparent;
}
.col-btn2{
    
      border: 1px solid #ececec;
  background-color: transparent;
}
.slider-des button:hover{
     border: none;
    background-color: orangered;
}
.services{
    width: 100%;
    min-height: 400px;
    /* border: 1px solid #000; */
    padding: 100px 100px 100px 100px;
    display: flex;
}
.services .box{
    width: 50%;
    min-height: 400px;
    /* border: 1px solid #000; */
    justify-items: center;
    align-content: center;
}
.ser-img .circle{
    width: 80%;
    min-height: 80%;
    background-color: orangered;
    border-radius: 90%;
}
.circle img{
  width: 90%;
    height: 90%;
    border-radius: 90%;
}
.ser-all{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ser-all-img{
    width: 30%;
    height: 90%;
    justify-items: center;
    align-content: center;
    margin: 4px;

}
.ser-all-con{
    width: 66%;
    margin: 4px;
     justify-items: start;
    align-content: center;
    text-align: justify;
}
.ser-all-con h3{
    font-family: "Raleway", sans-serif;
    margin-bottom: 5px;
}
.ser-all-con p{
  font-family: Arial, Helvetica, sans-serif;
}
.ser-all-img img{
    width: 90%;
    height: 90%;
    background-color:orangered;
    border-radius: 100%;
    margin: 5px;
}
.mini-slider{
    width: 100%;
    height: 250px;
       background-image: linear-gradient(rgba(255, 6, 6, 0.596), rgba(0, 0, 0, 0.6)),url("./img/mini-slider.jpeg");
    justify-content: center;
    align-items: center;
    background-size: cover;
    display: flex;
    gap: 30px;
    text-align: center;
}
.mini-slider p{
    color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
.mini-slider p span{
    font-size: 20px;
    font-weight: 500;
   font-family: "Raleway", sans-serif;
}
.about{
    padding: 100px 100px 100px 100px;
    width: 100%;
    min-height: 400px;
    border: 1px solid #000;
    justify-items: center;
}
.abount-main{
    width: 60%;
    text-align: center;
    align-content: center;
}
.abount-main h2{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.abount-main p{
    font-family: Arial, Helvetica, sans-serif;
}
/* .about-srv{
    width: 100%;
    border: 1px solid #000;
    justify-items: center;
    align-content: center;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "service-about1 service-about2 service-about3"
                            "service-about4 service-about5 service-about6";
}
.about-srv .serv{
    border: 1px solid #000;
    margin: 5px;
    width: 33%;
    height: 300px;
}
.about-srv .srv1{
    grid-area: service-about1;
}
.about-srv .srv2{
    grid-area: service-about2;
}.about-srv .srv3{
    grid-area: service-about3;
}.about-srv .srv4{
    grid-area: service-about4;
}.about-srv .srv5{
    grid-area: service-about5;
}.about-srv .srv6{
    grid-area: service-about6;
}
.about-srv .serv .serv-img{
   
    margin: 4px;
    background-color: orangered;
    border-radius: 100%;
} */

.about-srv{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.about-srv .serv{
    height: 300px;
    margin: 20px;
     justify-items: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-srv .serv:hover{
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}
.about-srv .serv .serv-img{
    width: 100px;
    height: 100px;
    background: orangered;
    border-radius: 100%;
}
.serv-img img{
    width: 90%;
    height: 90%;
    border-radius: 100%;

}
.serv-des{
    margin-top: 5px;
    text-align: center;
    padding: 4px;
}
.serv-des h2{
    margin-bottom: 4px;
    font-size: 20px;
        font-family: "Raleway", sans-serif;

}
.serv-des p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects{
    width: 100%;
    min-height: 400px;
    justify-items: center;
    padding: 100px 100px 100px 100px;
    /* align-content: center; */
}
.projet-title{
    width: 60%;
    text-align: center;
}
.projet-title h2{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
}
.projet-title p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.project-con{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.project-con .pro-img{
    width: 50%;
    margin: 5px;
    display: flex;
    align-items: end;
}
.pro-img img{
    width: 100%;
    /* height: 350px; */
    width: 100%;
    height: 100%;
   object-fit: cover;
   position: relative;
}
/* .pro-img::after{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
} */
.img-data-pro{
    width: 400px;
    position: absolute;
    margin: 5px;
    padding: 10px;
    /* display: flex; */
}
.img-data-pro h3{
     font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 5px;
}
.img-data-pro p{
     font-family: "Raleway", sans-serif;
    margin-top: 5px;
}
.team{
     width: 100%;
    min-height: 400px;
    justify-items: center;
    padding: 100px 100px 100px 100px;
    /* align-content: center; */
    border: 1px solid #000;
}
.team-title{
    width: 60%;
    text-align: center;
}
.team-title h2{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
}
.team-title p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.team-con{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.team-img{
    width: 33%;
    margin: 5px;
}
.team-img img{
    width: 100%;
}
.team-img p,h4{
    text-align: center;
    margin-top: 3px;
}
.team-img p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.blog{
    width: 100%;
    min-height: 400px;
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("./img/mini-slider.jpeg");
    background-size: 100% 100%;
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog .ceo-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 5px;
}
.blog h4{
    color: rgba(255, 255, 255, 0.582);
    margin-bottom: 5px;
}
.blog p{
    width: 60%;
    margin: 5px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
      font-family: "Playwrite NZ Basic", cursive;
}
.stars{
    display: flex;
    margin-top: 10px;
}
.stars img{
    width: 20px;
    height: 20px;
}

/* work */
.work{
    padding: 100px 100px 100px 100px;
    width: 100%;
    min-height: 400px;
    border: 1px solid #000;
    justify-items: center;

}
.work-main{
    width: 60%;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
}
.work-main h2{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.work-main p{
    font-family: Arial, Helvetica, sans-serif;
}
.work-srv{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.work-divs{
    height: 100%;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.work-img{
    width: 100%;
    height: 50%;
    display: flex;
}
.work-img img{
    width: 100%;
    height: 100%;
    position: relative;
}
.work-img .btn{
    position: absolute;
    padding: 10px;
}
.work-img .btn button{
    background-color: orangered;
    border: none;
    padding: 10px;
    color: #ececec;

}
.work-img-con{
     width: 100%;
    height: 50%;
    justify-items: start;
    padding: 10px;

}
.work-img-con h4{
    margin-top: 5px;
        font-family: "Raleway", sans-serif;
        font-size: 22px;
}
.work-img-con p{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color: #000000a6;
}
.footer{
        width: 100%;
    min-height: 400px;
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("./img/mini-slider.jpeg");
    background-size: 100% 100%;
    padding: 50px 100px 50px 100px;
    justify-items: center;
    align-content: center;
}
.footer h1{
    color: aliceblue;
    margin-bottom: 10px;
}
.footer p{
    width: 60%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ecececc7;
    margin-bottom: 10px;
}
.icon{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.icon a{
    color: #ececec;
    border: 1px solid  #ececec;
    padding: 10px;
    border-radius: 100%;
}
.icon a:hover{
    background-color: #ececec8e;   
}
.ancor{
    margin-top: 20px;
    display: flex;
    gap: 20px;
        margin-bottom: 20px;

}
.ancor a{
    color: #ececec8c;
    padding: 10px;
    border-radius: 100%;
}

.ancor a:hover{
    color: red;
    text-decoration: none;
}
.foot{
    width: 80%;
    color: #ecececa4;
    justify-items: center;
    align-content: center;
}
.foot hr{
    width: 100%;
    margin-bottom: 20px;
        color: #ececec71;

}
.foot p{
    color: #ececec71;
}
/* ============================= */
/* ===== TABLET RESPONSIVE ===== */
/* ============================= */

@media (max-width: 992px) {

    .header-menu{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .logo, .menu{
        width: 100%;
    }

    .slider-des{
        width: 80%;
        text-align: center;
    }

    .services{
        flex-direction: column;
        padding: 60px 5%;
    }

    .services .box{
        width: 100%;
        margin-bottom: 30px;
    }

    .about-srv{
        grid-template-columns: repeat(2, 1fr);
    }

    .project-con{
        flex-direction: column;
    }

    .project-con .pro-img{
        width: 100%;
    }

    .team-con{
        flex-direction: column;
    }

    .team-img{
        width: 100%;
    }

    .work-srv{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
}

/* ============================= */
/* ===== MOBILE RESPONSIVE ===== */
/* ============================= */

@media (max-width: 576px) {

    .menu ul{
        flex-direction: column;
        gap: 10px;
    }

    .slider{
        height: 500px;
        background-size: cover;
    }

    .slider-des{
        width: 95%;
    }

    .slider-des h2{
        font-size: 28px;
    }

    .about-srv{
        grid-template-columns: 1fr;
    }

    .mini-slider{
        flex-direction: column;
        height: auto;
        padding: 40px 10px;
    }

    .mini-slider p{
        font-size: 35px;
    }

    .project-con{
        flex-direction: column;
    }

    .team-con{
        flex-direction: column;
    }

    .work-srv{
        grid-template-columns: 1fr;
    }

    .footer p{
        width: 90%;
    }

    .ancor{
        flex-direction: column;
        gap: 10px;
    }
}